.galleryWrap {

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  max-width: 1200px;
}

.galleryWrap .single {
  width: 300px;
  cursor: pointer;
}

.galleryWrap .single img {
  max-width: 100%;
}

.galleryWrap .single img:hover {
  transform: scale(1.02);
}

.sliderWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.967);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sliderWrap .btnClose,
.sliderWrap .btnPrev,
.sliderWrap .btnNext {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  color: #fff;
  z-index: 9999;
}

.btnNext:hover,
.btnPrev:hover,
.btnClose:hover {
  opacity: 1;
}

.sliderWrap .btnClose {
  top: 40px;
  right: 40px;
}

.sliderWrap .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.sliderWrap .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

.fullScreenImage {
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullScreenImage img {

  height: 80%;
  width: 100%;
}

@media only screen and (min-width: 636px) {
  .fullScreenImage img {
    height: 60vh;
    max-width: 600px;
  }
}

@media only screen and (min-width: 835px) {
  .fullScreenImage img {
    max-width: 800px;
    height: 60vh;
  }
}

@media only screen and (min-width: 1000px) {
  .fullScreenImage img {
    max-width: 1000px;
    height: 90vh;

  }
}

/* -------------------------------------------------------------------------- */
/*                                   mansory                                  */
/* -------------------------------------------------------------------------- */

.masonry-grid {
  height: 100%;
  margin-top: 50px;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);

}

.photo-grid {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 15px 0 15px 0;
}

.grid-item {

  width: calc(95% / 3);
}

.grid-sizer {
  width: calc(100% / 3);
}

@media only screen and (max-width: 1100px) {
  .masonry-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo-grid {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 15px 0 15px 0;
  }

  .grid-item {

    width: calc(95% / 2);
  }

  .grid-sizer {
    width: calc(100% / 2);
  }

}

@media only screen and (max-width: 600px) {

  .masonry-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .photo-grid {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 10px 0 10px 0;
  }

  .grid-sizer {
    width: calc(100% / 1);
  }

  .grid-item {
    width: calc(100% / 1);
  }

}