/* -------------------------------------------------------------------------- */
/*                                    Login                                   */
/* -------------------------------------------------------------------------- */


.bg-set{
    background-color: #241F21;
}


.box-model{
    border-radius: 10px;
    box-shadow: 15px 15px 30px #e4d8d8,
        -15px -15px 30px #c4b9b9;
}

.inregistrare-style {
    max-width: 500px;
}