@import url('./section1.css');
@import url('./variables.css');


.title-font {
    font-family: var(--font-title);
}

.text-font {
    font-family: var(--font-text);
    font-weight: 600;

}

.text-font-big {
    font-family: var(--font-text);
    font-weight: 800;
}

.bg-set {
    background-color: var(--color-bg);
    color: white;
}

.bg-second-set {
    background-color: var(--color-bg-second);
    color: white;
}

.bg-font-set {
    color: var(--color-bg-second);
}

.dropdown-item {
    color: white;
}

.dropdown-item:active {

    color: white;
    background-color: var(--color-bg);

}

i {
    color: white;
    ;
}

li {
    list-style: none;
}

a {
    color: inherit;
}

.box-model {
    border-radius: 10px;
    box-shadow: 15px 15px 30px #e4d8d8,
        -15px -15px 30px #c4b9b9;
}

.inregistrare-style {
    max-width: 500px;
}

.nav-set {
    border-bottom: solid 3px var(--color-bg-second);
}

.nav-item :hover {
    border-bottom: solid 3px var(--color-bg-second);

}